{{#tooltip-container tooltipFor=(concat "label-" elementId) tooltipContainer='body' as |tooltip|}}
    {{#if (eq tooltip.section 'tooltip')}}
        <p class="first">Every change you make is automatically saved by Portia</p>
    {{else}}
        <span id="label-{{elementId}}" class="label label-{{labelColorClass}}">
            {{#if isSaving}}
                正在保存 <span>.</span><span>.</span><span>.</span>
            {{else if timeSinceLastSave}}
                已经保存 {{timeSinceLastSave}}
            {{else}}
                变更已自动保存
            {{/if}}
        </span>
    {{/if}}
{{/tooltip-container}}
